@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
body{
    background-color: #FBF6E2;
    font-family: 'Poppins', sans-serif;
}
.TitCategorias, h5{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    
    
}
.vl {
    border-left: 3px solid #4E1353;
    height: 509px;
    padding-left: 1rem;
    margin-left: 1rem;
  }
  .arania1{
    position: absolute;
    margin-left: 16%;
    max-width: 9%;
    z-index: 100;
    margin-top: auto;
  }
  .arania2{
    position: absolute;
    margin-left: 37%;
    max-width: 12.5%;
    z-index: 100;
  }
  .img-subcat{
    position: relative;
    display: inline-block;
  }
  .img-subcat img{
    border-radius: 0.7rem;
  }
  .img-subcatHov{
      display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
  }
  .img-subcat:hover .img-subcatHov {
    display: inline;
}

.SubCategoria{
  font-size: 20px;
  font-family: 'Creepster', cursive;
  text-align: right;
  padding-right: 1rem;
  margin: 12px;
}
.txt-SubCat{
  text-align: justify;
  margin-left: 1rem;
  margin-right: 1rem;
  word-wrap: break-word;
}
.hl{
  border: 2px solid red;
}
.h4{
  display: flex; 
  justify-content:center; 
  align-items: center;
}

.circulo{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  }
.userOpinion{
  font-size: 12px;
  font-family: 'Creepster', cursive;
  text-align: left;
  
  
}
.opinion{
  font-size: 14px;
  text-align: left;
  word-wrap: break-word;
}
.gato{
  position: absolute;
  margin-left: 41%;
  margin-top: -8%;
  max-width: 9%;
  z-index: 100;
}
footer{
  height: 90px;
  background-color: #4E1353;
}
.pie-pagina:link {
  color: #C23320;
  text-decoration: none;
}

.pie-pagina:hover {
  border-bottom: 1px solid;
  background: #4E1353;
  border-radius: 2px;
}


